body{
	text-align: center;
}
header{
	background-color: black;
	color: white;
	padding: 20px;}
li{
	display: inline;
	padding:30px;
	color: burlywood;
}
a{
	text-decoration: none;
	color:burlywood;
}
#Home img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
#Portfolio {
	background-color:burlywood; 
	padding:20px;
}
footer{
	background-color: black;
	color:white;
	padding:20px;
}

